{
  "servers":[
    {
      "host":"127.0.0.1",
      "port":22,
      "user":"root",
      "password":"password",
      "preCommands":"ls -l",
      "uploads":[
        {
          "local":"E:\\GOROOT\\",
          "remote":"/home/golang"
        }
      ],
      "ignoreDirs":".git,.idea",
      "postCommands":"ls -l"
    }
  ]
}